{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "add-module-exports",
    "transform-async-to-bluebird",
    "transform-promise-to-bluebird",
    "transform-runtime",
    "transform-decorators-legacy"
  ]

}